Language: Cpp
Standard: Latest
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
AccessModifierOffset: -4
UseTab: Never
ContinuationIndentWidth: 8
ColumnLimit: 100
BreakBeforeBraces: Attach
PointerAlignment: Left
ReferenceAlignment: Left
SpacesInParentheses: false
SpaceBeforeParens: ControlStatements
AllowShortFunctionsOnASingleLine: Empty
SortIncludes: true
IncludeBlocks: Regroup
BreakBeforeBinaryOperators: All
BinPackParameters: false
BinPackArguments: false
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignConsecutiveBitFields: false
AlignOperands: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
BreakConstructorInitializers: AfterColon
SpaceBeforeCtorInitializerColon: false
SpaceBeforeInheritanceColon: false
NamespaceIndentation: All
IndentCaseLabels: true
AlignTrailingComments: false
